
li{
		display: inline-block;
		list-style: none;
		float: right;
		padding: 5px;
		background-color: yellow;
		color;blue;
		font-size: 20px;
}
#bg{
	background-image: url(/images/main.jpg);
	background-repeat: no-repeat;
	background-position: cover;
	height:500px;
	text-align: center;
	font-weight: bold;
	color: yellow;
	padding: 250px;
}
.header1{
	font-size: 90px;
}
.sideimage{
	border-radius: 50%;
	width: 300px;
	height: 300px;
}
.logo{
	height: 70px;
}
.webtext{
	font-size: 20px;
}
